<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Cadastro</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>

<body>

	<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/">
						<img src="img/logo.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item">
										<a class="nav-link" href="/">Início</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contato">Contato</a>
									</li>
									<li class="nav-item">
										<a class="main_btn" href="/ajudar">Ajuda aí!</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->

	<!--================ Banner Area =================-->
	<section class="banner_area" id = "teste">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay"></div>
			<div class="container">
				<div class="banner_content text-center">
					<h2>CADASTRE-SE PARA RECEBER AJUDA!</h2>
					<div class="page_link">
						<a href="/">INÍCIO</a>
						<a href="/cadastro">CADASTRO</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Banner Area =================-->


	<!--================ Start Recent Event Area =================-->
	<section class="event_details section_gap">
        <div class="comment-form">
            <h4>PRECISA DE AJUDA?</h4>
            <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="DIGITE SEU NOME:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DIGITE SEU NOME:'" required>
                    </div>
                    <div class="form-group>
                        <input type="text" class="form-control" id="city" placeholder="DIGITE SUA CIDADE:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DIGITE SUA CIDADE:'" required>
                    </div>
    
                <div class="form-group">
                    <input type="text" maxlength="11" class="form-control" id="phone" placeholder="DIGITE SEU NÚMERO DE TELEFONE:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DIGITE SEU TELEFONE:'" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="cpf" placeholder="DIGITE SEU CPF:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DIGITE SEU CPF:'" required>
                </div>
                <div class="form-group">
                    <select name="kit" id="kit" class="form-control" required>
                    <option selected>SELECIONE UM KIT DE NECESSIDADES:</option>
                    <option value="rancho">KIT RANCHO (ALIMENTOS)</option>
                    <option value="necessidades">KIT NECESSIDADES ESPECIAIS (FRALDAS, POMADAS, LENÇOS UMEDECIDOS, ETC)</option>
                    <option value="covid">KIT PROTEÇÃO COVID-19 (ÁLCOOL 70% lÍQUIDO ou GEl)</option>
                    <option value="outro">OUTRO KIT BÁSICO</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control mb-10" rows="5" name="desc" placeholder="DIGITE UMA BREVE DESCRIÇÃO SOBRE SUA SITUAÇÃO NO MOMENTO:" onfocus="this.placeholder = ''" onblur="this.placeholder = 'DIGITE UMA BREVE DESCRIÇÃO SOBRE SUA SITUAÇÃO NO MOMENTO:'"
                        required=""></textarea>
                </div>
                <a href="#" class="main_btn">CADASTRAR NECESSIDADE</a>
            </form>
        </div>
    </div>
    </div>
	</section>
	<!--================ End Recent Event Area =================-->

	<!--================ Start Footer Area  =================-->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6 class="footer_title">Sobre nós!</h6>
						<p>
							Desenvolvida a partir da premissa de ajudar pessoas em épocas de crise, a plataforma "Ajuda aí!" tem como intuito facilitar
							a contribuição financeira para pessoas necessitadas, de forma gratuita e eficiente!
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6 class="footer_title">Noticías!</h6>
						<p>Fique atualizado para nossas próximas atualizações!</p>
						<div id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="subscribe_form relative">
								<div class="input-group d-flex flex-row">
									<input name="EMAIL" placeholder="Digite seu email..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email '"
									 required="" type="email">
									<button class="btn sub-btn">
										<span class="lnr lnr-arrow-right"></span>
									</button>
								</div>
								<div class="mt-10 info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget f_social_wd">
						<h6 class="footer_title">Segue aí!</h6>
						<p>Nossas redes sociais:</p>
						<div class="f_social">
							<a href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-lg-12">
                    <p class="copyright" style="color: rgba(128, 128, 128, 0.075);"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Colorlib</a>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
			
	</footer>
	<!--================ End Footer Area  =================-->



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- <script src="vendors/lightbox/simpleLightbox.min.js"></script> -->
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<!-- <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script> -->
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<!-- <script src="vendors/counter-up/jquery.waypoints.min.js"></script> -->
	<!-- <script src="vendors/flipclock/timer.js"></script> -->
	<!-- <script src="vendors/counter-up/jquery.counterup.js"></script> -->
	<script src="js/mail-script.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>